body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1{
    color: rgb(61, 214, 0);
  }
  p {
    color: blue;
    text-align:start;
  }
label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-height: 15%;
    max-width: 20%;
    height: auto;
  }
  